<!-- Set background color and text/accent colors -->
<body style="background-color:#ffffff; color: rgb(0, 0, 0);">

    <style>
        a:link {
            color: rgb(0, 23, 128);
            background-color: transparent;
            text-decoration: none;
        }
        
        a:visited {
            color: rgb(119, 0, 255);
            background-color: transparent;
            text-decoration: none;
        }
        
        a:hover {
            color: rgb(0, 255, 234);
            background-color: transparent;
            text-decoration: underline;
        }
        
        a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
        </style>
    
    